<div class="container" ng-controller="TodoListCtrl", ng-init="init()">
  <h1>Task Manager</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span>{{ list.name }}</span>
    </div>

    <form id="new_todo"
          ng-submit="addTodo(todoDescription)">
      <div class="input-group">
        <input type="text"
               id="todoDescription"
               class="form-control input-lg"
               autofocus="autofocus"
               maxlength="255"
               ng-model="todoDescription">
        <button class="btn btn-default btn-lg" type="submit">Add</button>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="todo in list.todos">
        <div class="todo-done">
          <input type="checkbox">
        </div>
        <div class="todo-description">
          <span>{{ todo.description }}</span>
        </div>
        <div class="todo-buttons pull-right">
          <button class="btn btn-danger btn-xs bull-right" type="button">
            <span>Delete</span>
          </button>
        </div>
      </li>
    </ul>
  </div>

</div>
