<h3>SIGN UP</h3>
<br>
<form ng-submit="handleRegBtnClick()"
      role="form"
      ng-init="registrationForm = {}">

  <div class="form-group">
    <label for="name">Name</label><br>
    <input type="name"
           name="name"
           id="name"
           ng-model="registrationForm.name"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="emai">Email</label><br>
    <input type="email"
           name="email"
           id="email"
           ng-model="registrationForm.email"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password</label><br>
    <input type="password"
           name="password"
           id="password"
           ng-model="registrationForm.password"
           required="required"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="password_confirmation">Password Confirmation</label><br>
    <input type="password"
           name="password_confirmation"
           id="password_confirmation"
           ng-model="registrationForm.password_confirmation"
           required="required"
           class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
